*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    padding: 100px;
}

#hero1{
    height: 30vw;
    width: 30vw;
    filter: blur(20px);
    border-radius: 50%;
    background-color: orangered;
    position: absolute;
}

#hero2{
    height: 30vw;
    width: 30vw;
    filter: blur(20px);
    border-radius: 50%;
    background-color: orangered;
    position: absolute;
}

@keyframes anime{
    
}